extends ../../layout.jade
block contenido
	div(class="col-md-4 remove-float center-block big-top-space")
		form(action="/admin/pedidos/"+"#{pedido._id}"+"?_method=PUT", method= "POST")
			div(class="form-group")
				label(for="from") De
				input(type="text", name="from", placeholder="#{pedido.from}", id="from", class="form-control")
			div(class="form-group")
				label(for="to") Para
				input(type="text", name="to", placeholder="#{pedido.to}", id="ro", class="form-control")
			div(class="form-group")
				label(for="addres") Direccion de entrega 
				input(type="text", name="addres", placeholder="#{pedido.addres}", id="addres", class="form-control")
			div(class="form-group")
				label(for="pay") Metodo de pago predilecto
				input(type="text", name="pay", placeholder="#{pedido.pay}", id="pay", class="form-control")
			div
				label(for="date") fecha
				input(type="password", name="date", placeholder="#{pedido.date}", id="date", class = "form-control")
			div(class="top-space row")
				div(class = "col-xs-12 col-sm-6")
					input(type="submit", value = "Guardar" class= "btn btn-info" )
				div( class="text-right col-xs-12 col-sm-6")
					a(href="app/pedidos" ) Atras			
