extends ../layout.jade
block contenido
	.titlePag
		.container
			h1 Arma tu presupuesto 
			p Has tu pedido a tu medida y te diremos en cuanto sale
	.container
		.row
			div(class=" col s12 m12 l9 big-top-space")
				form(action="/app/pedidos", method= "POST" enctype="multipart/form-data" id = "form")
					.row
						.col.s12.m6.input-field.l6
							select(id ="type" name="type"  data-error = ".errorTxt3")
								option(value="" disabled selected)   Seleciona el tipo de producto
								if(type == "cakes")
									option(value= "3-four") Mantequilla Con oreos
									option(value= "3-three") Mantequilla sencilla
									option(value= "3-two") Mantequilla con brownies
									option(value= "3-one") Mantequilla con dulces
									option(value= "onecakes") Fondant
									option(value= "twocakes") Dulces
								else if(type == "cupcakes")
									option(value= "onecupcakes") Con Crema de Mantequilla
									option(value= "twocupcakes") Con fondant
								else	
									optgroup(label = "Torta")
										option(value= "3-four") Mantequilla Con oreos 
										option(value= "3-three") Mantequilla sencilla
										option(value= "3-two") Mantequilla con brownies
										option(value= "3-one") Mantequilla con dulces
										option(value= "onecakes") Fondant
										option(value= "twocakes") Dulces
									optgroup(label = "Cupcakes")
										option(value= "onecupcakes") Con Crema de Mantequilla
										option(value= "twocupcakes") Con fondant
							label(for= "type") Tipo de #{(type == 'cakes') ? "torta" : "cupcakes"}
							div.errorTxt3.right
						.input-field.col.s12.m6.l6
							select(id ="size" name="size"  data-error = ".errorTxt5")
								if(type == "cakes")
									option(value="" disabled selected)   Seleciona el tamaño
									option MiniTorta (1/4kg)
									option 1/2 de kilogramo
									option 3/4 de kilogramo
									option 1 kilogramo
									option 1 kilogramo y Medio
									option 2 kilogramos
								else if(type == "cupcakes")
									option(value="" disabled selected)   Seleciona las unidades
									option  4
									option 	 6
									option 	 9
									option  12	
								else
									option(value="" disabled selected)   Seleciona el tamaño del pedido
									optgroup(label = "Torta") 
										option MiniTorta (1/4kg)
										option 1/2 de kilogramo
										option 3/4 de kilogramo
										option 1 kilogramo
										option 1 kilogramo y Medio
										option 2 kilogramos
									optgroup(label = "cupcakes")
										option  4
										option 	 6
										option 	 9
										option  12	
											
							label(for= "size") #{ (type == "cakes") ? "Tamaño" : "Unidades"}
							div.errorTxt5.right
					.row
						.input-field.col.s12.m6.l6
							select( id ="flavorCake" name="flavorCake"  data-error = ".errorTxt6")
								option(value="" disabled selected)   Seleciona el Sabor del ponqué
								if(type == "cakes")
									option  Chocolate
									option Vainilla
									option Red velvet
									option Coco
									option Cafe
									option Naraja
									option limon
								else if(type == "cupcakes")
									option Chocolate
									option Chocolate con Oreo
									option Chocolate con chispas de chocolate
									option Vainilla
									option Vainilla con oreo
									option Vainilla con chispas de chocolate
									option Red velvet
									option Coco
									option Cafe
									option Naraja
									option limon
								else
									optgroup(label = "Torta") 
										option  Chocolate
										option Vainilla
										option Red velvet
										option Coco
										option  Cafe
										option Naraja
										option limon
									optgroup(label = "cupcakes") 
										option  Chocolate
										option Chocolate con Oreo
										option Chocolate con chispas de chocolate
										option Vainilla
										option Vainilla con oreo
										option Vainilla con chispas de chocolate
										option Red velvet
										option Coco
										option  Cafe
										option Naraja
										option limon
							label(class= "flavorCake") Sabor del Relleno
							div.errorTxt6.right
						.input-field.col.s12.m6.l6
							select( id ="flavorCream" name="flavorCream"  data-error = ".errorTxt7")
								option(value="" disabled selected)   Seleciona el Sabor de Relleno
								if(type == "cakes")
									option  Chocolate
									option  Cafe
									option Vainilla
									option Naraja
									option Frosting de Queso crema
									option Oreo
									option Jalea de Parchita
									option Jalea de Mora
									option Arequipe
								else if(type == "cupcakes")
									option  Chocolate
									option  Cafe
									option Vainilla
									option Naraja
									option Frosting de Queso crema
									option Oreo
									option Jalea de Parchita
									option Jalea de Mora
									option Arequipe
								else
									option  Chocolate
									option  Cafe
									option Vainilla
									option Naraja
									option Frosting de Queso crema
									option Oreo
									option Jalea de Parchita
									option Jalea de Mora
									option Arequipe

							label(for= "flavorCream") Sabor del Relleno
							div.errorTxt7.right
					h5.mesageimg(style ="display:none").
						Selecione una foto de las nuestras #[a(href="#" class= "carouselOpen") aqui] o suba una usted #[a(href="#" class= "imageBrowserOpen") aqui]
					.carousel-container(style="display:none")
						if(type == "cakes")
							.carousel(id="3-three" style = "")
								for pedido, i in prePedidos
									if(pedido.cases == "3-three")
										a.carousel-item(href="#" + i)
											img(src=pedido.refere.replace("Public", "/stactic"))
							.carousel(id="3-two" style = "")
								for pedido, i in prePedidos
									if(pedido.cases == "3-two")
										a.carousel-item(href="#" + i)
											img(src=pedido.refere.replace("Public", "/stactic"))
							.carousel(id="3-one" style = "")
								for pedido, i in prePedidos
									if(pedido.cases == "3-one")
										a.carousel-item(href="#" + i)
											img(src=pedido.refere.replace("Public", "/stactic"))
							.carousel(id="onecakes" style = "")
								for pedido, i in prePedidos
									if(pedido.cases == "one" && pedido.type == "cakes")
										a.carousel-item(href="#" + i)
											img(src=pedido.refere.replace("Public", "/stactic"))
							.carousel(id="twocakes" style = "")
								for pedido, i in prePedidos
									if(pedido.cases == "two" && pedido.type == "cakes")
										a.carousel-item(href="#" + i)
											img(src=pedido.refere.replace("Public", "/stactic"))
							.carousel(id="3-four" style = "")
								for pedido, i in prePedidos
									if(pedido.cases == "3-four" && pedido.type == "cakes")
										a.carousel-item(href="#" + i)
											img(src=pedido.refere.replace("Public", "/stactic"))					
						else if(type == "cupcakes")
							.carousel(id="onecupcakes" style = "")
								for pedido, i in prePedidos
									if(pedido.cases == "one" && pedido.type == "cupcakes")
										a.carousel-item(href="#" + i)
											img(src=pedido.refere.replace("Public", "/stactic"))
							.carousel(id="twocupcakes" style = "")
								for pedido, i in prePedidos
									if(pedido.cases == "two" && pedido.type == "cupcakes")
										a.carousel-item(href="#" + i)
											img(src=pedido.refere.replace("Public", "/stactic"))
						else
								.carousel(id="3-three" style = "")
									for pedido, i in prePedidos
										if(pedido.cases == "3-three")
											a.carousel-item(href="#" + i)
												img(src=pedido.refere.replace("Public", "/stactic"))
								.carousel(id="3-two" style = "")
									for pedido, i in prePedidos
										if(pedido.cases == "3-two")
											a.carousel-item(href="#" + i)
												img(src=pedido.refere.replace("Public", "/stactic"))
								.carousel(id="3-one" style = "")
									for pedido, i in prePedidos
										if(pedido.cases == "3-one")
											a.carousel-item(href="#" + i)
												img(src=pedido.refere.replace("Public", "/stactic"))
								.carousel(id="onecakes" style = "")
									for pedido, i in prePedidos
										if(pedido.cases == "one" && pedido.type == "cakes")
											a.carousel-item(href="#" + i)
												img(src=pedido.refere.replace("Public", "/stactic"))
								.carousel(id="twocakes" style = "")
									for pedido, i in prePedidos
										if(pedido.cases == "two" && pedido.type == "cakes")
											a.carousel-item(href="#" + i)
												img(src=pedido.refere.replace("Public", "/stactic"))
								.carousel(id="onecupcakes" style = "")
									for pedido, i in prePedidos
										if(pedido.cases == "one" && pedido.type == "cupcakes")
											a.carousel-item(href="#" + i)
												img(src=pedido.refere.replace("Public", "/stactic"))
								.carousel(id="twocupcakes" style = "")
									for pedido, i in prePedidos
										if(pedido.cases == "two" && pedido.type == "cupcakes")
											a.carousel-item(href="#" + i)
												img(src=pedido.refere.replace("Public", "/stactic"))
						.uploadFile
							h5.
								Suba una usted #[a(href="#" class= "imageBrowserOpen") aqui]

					.row.uploadFile(id="imagebrowser" style = "display:none;")
						.filePreview.col.s1
						.input-field.file-field.col.s11
							div.btn
								span Imagen				
								input(type="file", name="refere", placeholder="Imagen de referencia", id="refere" )
							div.file-path-wrapper
								input.file-path.validate( type="text" placeholder="Puedes agregar una o imagen como referencia del pedido")
						.uploadFile			
							h5.
								Selecione una foto de las nuestras #[a(href="#" class= "carouselOpen") aqui]
						
					.input-field			
						input(type="text" name="img" id  = "img" style="display:none;" data-error='.errorTxt4')
						div.errorTxt4.
					.row
						div.input-field.col.s12.m12.l3
							label(for="Ntoys") Numero de munecos
							input(type="number",  placeholder="0" id ="Ntoys" name="Ntoys" min="0" max = "5")
						div.input-field.col.s12.m12.l9
							input(type="text", name="for", id="for",class="validate" )
							label(for="for") Motivo	
					label.left(for= "caramelos") Caramelos
					.row
							.col.s5
								p
									input(type="checkbox", name="oreo", id= "oreo")
									label(for="oreo") Oreo
								p
									input(type="checkbox", name="candy" id="candy")
									label(for="candy") candy
							.col.s5
								p
									input(type="checkbox", name="cri" id= "Cri")
									label(for="Cri") Cri Cri
								p
									input(type="checkbox", name="toronto" id= "toronto")
									label(for="toronto") Toronto
					.row
						.input-field.col.s12
							textarea.materialize-textarea(id = "content" name = "content" data-error = ".errorTxt8")
							label(for = "content") Informacion del producto	
							div.errorTxt8.right
					.preloader-wrapper.active.big
						.sppiner-layer.spinner-blue-only
							.circle-clipper.left
								.circle
							.gap-patch
								.circle
							.circle-clipper.right
								.circle
					div(class="top-space row center")
						div(class = "col s12 m12 l6")
							input(type="submit", value = "Registrar" class= "btn btn-info" )
							

			.col.s0.m0.l3
				include ../asidePag.jade			
	script(src="/stactic/javaScript/eventNew.js")
	include ../footer.jade					
